<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="root">
    <header> 
      <!-- <h1 class="title">kEttOn {{calculatePrice}}</h1> -->
     
        
     <div class="container">
      <div class="menuTitle">
       <div class="leftHeader">
          
        <ul class="topMenu">
          <li> <a href="#"><img class="imgMenu" src="img/kettleIcon.jpg"alt=""></a></li>
         <li> <a href="#"><img class="imgMenu" src="img/catalog.jpg" alt=""></a>
         <ul class="subMenu">
          <li>Чайник</li>
          <li>Не чайник</li>
         </ul>
         </li>
         <li> 
            <!-- <input type="text" class="goods-search" v-model="searchValue"/>
            <custom-button>Поиск</custom-button> -->
         </li> 
        </ul>

        <div class="search">
          <custom-search v-model="searchValue"></custom-search>
         </div>
         
       </div>
    
       <div class="rightHeader">
        <ul class="topMenu deleted">
          <li> <a href="#"><img class="imgMenu" src="img/login.jpg" alt=""></a></li>
          <li> <a href="#"><img class="imgMenu" src="img/orders.jpg" alt=""></a></li>
          <li> <a href="#"><img class="imgMenu" src="img/favorites.jpg" alt=""></a></li>
        </ul>
        <custom-button @click="setVisibleCart"> <img src="img/cart.jpg" alt="cart"> Корзина </custom-button>
       </div>
    
      </div>
     </div>

    </header>
          
    <main>
      <div class="goods-list container" v-if="filteredItems.length">
        <good v-for="item in filteredItems" :item="item"></good>
      </div>
      <div v-else>нет данных</div>
    </main>
    <basket v-if="isVisibleCart" @close="setVisibleCart"></basket>
<!-- <div> {{calculatePrice}} </div> -->
  </div>
</body>
<script src="script.js"></script>
</html>