@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato:ital,wght@0,400;0,700;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: normal;
}

header {
    background: rgba(66, 44, 3, 0.908);
    height: 74px;
    padding: 23px 16px;
    
    @media (min-width: 768px) {
      padding-left: 32px;
      padding-right: 32px;
    }

  .menuTitle {
    display: flex;
    justify-content: space-between;
    
  }

  .leftHeader {
    margin-bottom: 75px;
    justify-content: space-between;
    display: flex;
    align-items: center;

    .goods-search {
        width: 300px;
        height: 30px;
        margin-left: 200px;
    }
  }

  .rightHeader {
    display: flex;
    justify-content: space-between;

    & button {
      background: transparent;
      border: none;

      & img {
        width: 60px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
      }
    }
    
    .search-button {
      padding-bottom: 70px;
      color: white;
    }
    .deleted {
      display: none;

      @media(min-width: 768px) {
        display: inline;
      }
    }
  }

  .topMenu {
    list-style: none;
    padding: 0;

    .imgMenu {
      width: 45px;
    }
  }

  

  & li {
    position: relative;
    display: inline-block;
    margin-right: 20px;

    &:hover .subMenu {
      display: block;
      padding-left: 10px;
    }

   }

  .subMenu {
    position: absolute;
    display: none;
    background: rgb(255, 237, 239);
    border: 1px solid rgba(112, 115, 133, 0.816);
    border-radius: 3px;
    z-index: 2;

    & > li {
      min-width: 170px;
      
     &:hover {
       background: white;
       color: rgb(71, 71, 244);
       width: 100%;
       cursor: pointer;
     }
    }
  }
  
  .cart-button {
    border: none;
    background: none;

    & img {
      height: 40px;
      width: 100%;
      margin-top: -17px;
    }
  }
}

.container {
  align-items: center;

  @media (min-width: 1600px) {
    margin: 0 auto;
    width: 1140px;
  }

}


.goods-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  z-index: 1;

  @media(min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    column-gap: 16px;
  }

  @media(min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

  .good-item {
    
    .goodImg {
      position: relative;
      width: 300px;
      height: 370px;
      display: flex;
      align-items: center;

     & img {
      width: 100%;
      display: block;
     }
    }

    .goodData {
      padding: 23px 16px 20px;
      background: rgba(38, 80, 2, 0.94);
    }

    .goodName {
      font-size: 13px;
      line-height: 16px;
      color: #000000;
    }

    .goodText {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      margin-top: 12px;
      margin-bottom: 18px;
    }

    .goodPrice {
      font-size: 16px;
      line-height: 19px;
      color: #f1c36d;
    }
  }

  .fixed-area {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: aquamarine;

    .basket-card {
      width: 80%;
      height: 80%;
      background-color: aliceblue;
    }

    .basket-card__header{
      box-sizing: border-box;
      display: grid;
      grid-template-columns: auto max-content;
    }

    .basket-card__content {
      padding: 10px;
    }

    .basket-card__header__delete-icon {
      background-image: url(img/closeicon.svg);
      background-size: contain;
      width: 30px;
      height: 30px;
      margin: 10px;
      cursor: pointer;
    }
  }

  .basket-item {
    padding: 10px;
    display: flex;
    gap: 30px
}
.basket-item__title {
    font-weight: bold;
}
.basket-item__total {
    margin-left: 100px;
}

.basket-item__count button {
    padding: 0 5px
}